@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
--cor-de-fundo: #2E073F;
--cor-primaria: #7A1CAC;
--cor-secundaria: #3A1078;
--fonte: "Amaranth", sans-serif;
}

*{
margin: 0;
padding: 0;

}

body{
background-color: var(--cor-de-fundo);
color: var(--cor-primaria);
height: 100vh;
font-family: var(--fonte);

}
header{
background-color: var(--cor-de-fundo);
text-align: center;
}

h1{
color: var(--cor-primaria);
font-size: 2rem;
font-weight: 700;
}

nav{

display: flex;
justify-content: center;
font-weight: 400;

}
nav a{
text-decoration: none;
color: var(--cor-secundaria);
margin: 0 2rem 32rem 0;
font-size: 1.7rem;
}

nav a:hover{
text-decoration: underline;
transform: scale(1.3);
transition: transform 2s;
}